body{
    background-image: url("background.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    height: 400px;
    
}

h1 {
    color: goldenrod;
}

message-el{
    color: pink;
    font-style: italic;
}
button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    border-color: goldenrod;
    border-radius: 0.2cm;
    background: goldenrod;
    cursor: pointer;
}
#startButton{
    position: relative;
    left: 114px;
}

#newCardButton {
    position: relative;
    top: 60px;
    right: 90px;
    
  
}
